#title {
    text-align: center;
    font-family: copperplate;
    text-transform:uppercase;
    font-size: 5em;
    margin: 10px 0 15px;
    transition: transform .2s ease;
}

.button-section {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    gap: 50px;
}

#buttonMessageDiv {
    position: relative;
    height: 50px;
    display: flex;
}

.lives-text {
     font-family: copperplate;
     font-size: 1.5em;
}

.eliminated-container {
    position: absolute;
    top: 20px;
    text-align: center;
    height: 200px;
    width: 125px;
    border: 2px solid black;
    border-radius: 20px;
}

p {
     font-family: copperplate;
}

button {
    transition: transform .2s ease;
}

button.pressed {
    transform: scale(0.98);
}

.winner-text {
    font-size: 1.4em;
}

.loser-text {
    font-size: 1em;
    font-style: italic
}

#buttonMessage {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: copperplate;
    font-size: 1.5em;
    text-transform:uppercase;
}

.eliminated-container {
    text-align:center;
}

.eliminated-container p {
    text-decoration:underline;
}

div#loserList {
    font-family: copperplate;
    text-align: center;
    margin: 0 auto;
}

#loserList li {
    list-style: none;
    text-align: center;
    font-style:italic;
    color:rgb(124, 124, 124);
    margin: 0 auto;
}



.button-section button {
    color: white;
    background: black;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 1.2em;
    font-family: copperplate;
    transition: background .1s ease;
}

.button-section button:hover {
    background: rgb(91, 90, 90);
    /* transform: scale(1.1) */
}

.button-section button:disabled {
    display: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 2rem; */
    margin-bottom: 3rem;
}

/*UNUSED BLUR EFFECT
/* blur cards */
/* body:hover .piko-card {
     opacity: 0.5;
    filter: blur(3px);
} */

.piko-card {
    flex-basis: 15%;
    /* display: flex; */
    text-align: center;
    margin: 4em 2em 2em;
    border: 2px solid black;
    border-radius: 3em;
    padding: .5em;
    transition: all .2s ease;
}

.piko-card:hover {
    /* opacity: 1;
    filter: blur(0); */
    transform: scale(1.01);
}

.piko-img {
    width: 80%;
   margin: auto;
    border-radius: 1em;
}

/* .piko-info {
    padding-left: 1.25rem;
} */

.info-text {
    font-family: monospace;
    font-size: 1em;
    font-style: italic;
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.2em;
}

.piko-card>p {
    margin-top: 0;
}

.piko-card>h2 {
    margin-bottom: 6px;
}

.piko-category {
    font-family: monospace;
    font-size: 1.2em;
}

.bold-underline {
    font-weight: 700;
    text-decoration:underline;
}
